.bg-light {
  background-color: #E3056A !important;
}
.navbar-nav {
position: relative;
left: 1000px;
height: 40px;
margin-top: 1px;
}

.navbar-nav .nav-link:hover{

	color: black;
	background: #D10763;

}
.navbar{
height: 45px;
}
.navbar-brand{

	font-size: 32px;
	font-style: bold;
}